<!-- insert body content -->
  <!-- <template> -->
      <div class="container-fluid">
        <!-- my content -->
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
        <p>ID : {{SESSUUID}}</p>
        
        <!-- my content -->
      </div>
  <!-- </template> -->

<!-- scripts -->
<script></script>
