<!-- insert body content -->
  <!-- <template> -->
      <div class="container-fluid">
        <!-- my content -->
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
        <p>ID : <span  id="sessuuid">{{SESSUUID}}</span></p>
        <p id="screen_name" style="visibility:hidden;">{{screen_name}}</p>
        <!-- my content -->
      </div>
  <!-- </template> -->
