
    <h1 class="bg-primary text-white ps-2">{{header}}</h1>
    <div class="continer py-2">
        <h2 class="mb-3">{{title}}</h2>
        <div class="alert alert-primary">
            {{msg}}
        </div>
    </div>
