body, html {
  font-family: sans-serif;
}

html, body, #js-canvas {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* 
#js-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*/
#js-canvas > div {
  height: 100%;
}

/*
.header {
  position: fixed;
  left: 10px;
  top: 10px;

  border: solid 1px #999;
  background: #EEE;
  border-radius: 5px;
  z-index: 100;
}

.header h1 {
  margin: 10px;
  padding: 0;
}
*/
.toolbar {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.toolbar .entry {
  background: #EEE;
  border: solid 1px #999;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;

  display: inline-block;
}

/* comment.css */
.comments-overlay {
  background: #CCC;
  padding: 5px;
  border-radius: 5px;
}

.comments-overlay.expanded {
  z-index: 100;
  position: absolute; /* for z-index to work */
}

.comments-overlay .toggle {
  white-space: nowrap;
}

.comments-overlay.expanded .comment-count,
.comments-overlay .content {
  display: none;
}

.comments-overlay .comment-count {
  display: inline;
}

.comments-overlay.expanded .content {
  display: block;
}

.comments-overlay .comment {
  border-top: dotted 1px #666;
  margin-top: 4px;
  padding-top: 4px;
  white-space: pre-wrap;

  position: relative;
}

.comments-overlay .comment .delete {
  position: absolute;
  right: 3px;
  top: 3px;

  text-decoration: none;

  display: none;
}

.comments-overlay .comment:hover .delete {
  display: block;
}

.comments-overlay .edit {

}

/* style.css */
body, html {
  font-family: sans-serif;
}

.comments-overlay {
  background: #FFF2CC;
  font-size: 12px;

  color: #333028;
  display: none;
}

.selected .comments-overlay,
.comments-overlay.with-comments {
  display: block;
}

.comments-overlay .edit {
  margin: 2px 0 0 0;
  padding-top: 2px;
}

.comments-overlay .edit textarea {
  border: none;
  margin: 0;
}

.comments-overlay .icon-comment:hover {
  color: #EEE;
}

.comments-overlay .comment {
  border-top-color: white;
}


.comments-overlay .icon-comment {
  margin-right: 2px;
}

.comments-overlay .icon-delete {
  color: white;
}


/** fonts **/

@font-face {
  font-family: 'bpmn-js-comments';
  src: url('font/bpmn-js-comments.eot?23532594');
  src: url('font/bpmn-js-comments.eot?23532594#iefix') format('embedded-opentype'),
       url('font/bpmn-js-comments.woff?23532594') format('woff'),
       url('font/bpmn-js-comments.ttf?23532594') format('truetype'),
       url('font/bpmn-js-comments.svg?23532594#bpmn-js-comments') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bpmn-js-comments";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
}

.icon-comment:before { content: '\e800'; }
.icon-delete:before { content: '\e802'; }
