{% extends "layouts/_layout.hbs" %}

{% load static %}

{% block _footer %}
{% include "partials/_footer.hbs" %}
{% endblock _footer %}

{% block _navi %}
{% include "partials/_navi.hbs" %}
{% endblock _navi %}

{% block _sidemenu %}
{% include "partials/_sidemenu.hbs" %}
{% endblock _sidemenu %}

{# body #}
{% block body %}

<div id="app"></div>
<div id="STATIC_PATH" style="display: none"></div>

{% endblock body %}


{# javascript #}
{% block script %}
<script src="{% static 'modeler-customed/dist/modeler-customed.es.js' %}"></script>
{% endblock script %}

{# css #}
{% block css %}
    <!-- bpmn-js-properties-panel -->
    <link rel="stylesheet" href="{% static './viewer-customed/assets/bpmn-js-properties-panel/diagram-js.css' %}">
    <link rel="stylesheet" href="{% static './viewer-customed/assets/bpmn-js-properties-panel/bpmn-font/css/bpmn-embedded.css' %}">
    <link rel="stylesheet" href="{% static './viewer-customed/assets/bpmn-js-properties-panel/bpmn-js-properties-panel.css' %}">
    <!-- bpmn-js -->
    <link rel="stylesheet" href="{% static './viewer-customed/assets/bpmn-js/dist/assets/diagram-js.css' %}" />
    <link rel="stylesheet" href="{% static './viewer-customed/assets/bpmn-js/dist/assets/bpmn-font/css/bpmn.css' %}" />

    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'modeler-customed/dist/style.css' %}" />
{% endblock css %}

