<template id="templateSrc" type="text/x-jquery-tmpl">
  <h2>GeeksforGeeks: A computer science portal</h2> 
  <img src="https://media.geeksforgeeks.org/wp-content/uploads/20210922100958/gfg3-300x300.png">
  <br> 
  <div class="row">
    <div class="col-sm text-right">${title_name}</div>
    <div class="col-sm"><input type="text" placeholder="author name"> </div>
  </div>
</template>
