html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* 
body {
  display: flex;
}
*/

#js-canvas {
  flex-grow: 1;
  height: 80vh;
}

#properties-panel-parent {
  background: #f8f8f8;
  border-left: solid 1px #ccc;
}

#js-canvas,
#properties-panel-parent {
	min-height: 500px;
}
#row-main {
	overflow-x: hidden; /* necessary to hide collapsed sidebar */
}
#js-canvas {
	background-color: white;
	
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
#js-canvas .btn-group {
	margin-bottom: 10px;
}
.col-md-8
.col-md-12 {
	display: none; /* just hiding labels for demo purposes */
}
#properties-panel-parent {
	background-color: #f8f8f8;
	
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	-o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
}
.collapsed {
	display: none; /* hide it for small displays */
}
@media (min-width: 2000px) {
	.collapsed {
		display: block;
		margin-right: -25%; /* same width as sidebar */
	}
}
