  <!-- <template> -->
  <!-- insert body content -->
    <div class="container-fluid">
      <!-- my content -->
      <h1>{{title}}</h1>
      <p>APP_NAME : {{APP_NAME}}</p>
      <p>ID : {{SESSUUID}}</p>
      <div class="alert alert-primary">
        {{msg}}
      </div>
      <!-- my content -->
    </div>
  <!-- </template> -->
  <!-- scripts -->
  <script></script>
