<div class="row">
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header" style="background-color:#D7DBDD;">
          <h5 class="modal-title" id="ModalLongTitle">Uncertainties Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- modal body -->
        <div class="modal-body" style="background-color:#ECF0F1;">
          <form id="form" class="form-vertical"></form>
          <button type="button" class="btn btn-dark">Search</button>
          <div id="res"></div>
        </div>
        <!-- modal body end -->
      
      </div>
    </div>
  </div>
</div>

